@import '~antd/dist/antd.css';

:root {
  --primary: #111B54;
  --light: #ffffff;
  --grey: #efefef;
  --blue:#2b4acb;
  --gray:#8c8c8c;
  --gray-3:#f0f0f0;
}

body {
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-blue {background-color: var(--blue)!important;}

.bg-gray {background-color: var(--gray)!important;}

.bg-gray-3 {background-color: var(--gray-3)!important;}

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
  background-color: var(--primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--primary);
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.avatar {
  max-width: 35px;
}

.btn-search {
  right: 0;
}

.stat {
  border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }
}
